body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background-image: url(/src/images/imagem-de-fundo.png);
    background-repeat: repeat;
    background-size: 7vh;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.texto {
    color: #FFFFFF;
    width: 500px;
    font-size: 1.5rem;
}

.texto h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 10px;
}

.texto p {
    width: 300px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 380px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.formulario input {
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
    font-weight: 700;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
}

.formulario input,
 .formulario textarea{
    outline: 0;
}

.formulario .campo-obrigatorio {
    color: #F52E2E;
    font-size: 1rem;
    position: relative;
    top: -15px;
    margin-bottom: -10px;
    display: none;
}

.formulario textarea#mensagem {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    resize: none;
}

.formulario button {
    background-color: #3CCC87;
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    height: 40px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.formulario button:hover {
    background-color: #3ccc86a2;
}